* {
    box-sizing: border-box;
}
.left-column {
    width: 30%;
    float: left;
    margin-left: 10%;
    text-align: left;
    margin-bottom: 0;
    margin-top: 8%;
    font-family: 'Gill Sans', 'Gill Sans MT';
}
.main-title {
    font-size: 100px;
    margin-bottom: 0;
    margin-top: 35px;
    color: rgb(44, 133, 222);
}
.text {
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: gray;
}
.btn {
    display: inline-block;
    color: dodgerblue;
    text-decoration: none;
    padding: 10px; padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    border: 3px solid dodgerblue;
    width: max-content;
    border-radius: 30px; /* apvalinanat % [0...50] */
}
.right-column {
    width: 40%;
    margin-top: 10%;
    float: left;
}